@import '../../style/main.scss';

.hero {
  @include flex;
  min-height: 90vh;
  height: auto;
  position: relative;
  @media (max-width: 575.98px) {
    min-height: 88vh;
  }
  @media (max-height: 700px) {
    padding: 20px 0 20px 0;
  }
  &_wrapper {
    @include flex(column);
    width: 100%;
    height: 100%;
    @media (max-width: 575.98px) {
      justify-content: flex-start;
    }
    .container {
      @include flex(row, space-between);
      width: 100%;
      @media (min-width: 0px) and (max-width: 1000px) {
        @include flex(column-reverse, space-evenly);
        height: 100%;
        gap: 20px;
      }
      .wrapper {
        width: 60%;
        @media (min-width: 0px) and (max-width: 1000px) {
          width: 100%;
          @include flex(column);
          text-align: center;
        }
        &_welcome {
          font-size: 1.5rem;
          @media (max-width: 575.98px) {
            font-size: 1.2rem;
          }
        }
        &_title {
          background: linear-gradient(120deg, var(--primary), var(--accent));
          font-size: 8rem;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          @media (max-width: 575.98px) {
            font-size: 5rem;
          }
          @media (min-width: 1440px) and (max-width: 1660px) {
            font-size: 7rem;
          }
          @media (min-width: 1250px) and (max-width: 1439px) {
            font-size: 6rem;
          }
          @media (min-width: 575.98px) and (max-width: 1249px) {
            font-size: 5rem;
          }
        }
        &_job {
          font-size: 2rem;
          @media (max-width: 575.98px) {
            font-size: 1.6rem;
          }
        }
        &_description {
          font-size: 1.5rem;
          @media (max-width: 575.98px) {
            font-size: 1rem;
          }
        }
        &_button {
          width: 275px;
          border: 2px solid var(--primary);
          background-color: var(--primary);
          padding: 20px;
          border-radius: 15px;
          transition: 0.4s;
          @media (max-width: 575.98px) {
            width: 60%;
            padding: 15px;
            font-size: 1rem;
          }
          &:hover {
            background: var(--primary);
            color: black;
            border: 2px solid var(--primary);
          }
        }
      }
      .profile {
        &_img {
          width: 500px;
          height: 500px;
          border-radius: 50%;
          object-fit: cover;
          @media (max-width: 575.98px) {
            width: 225px;
            height: 225px;
          }
          @media (min-width: 1440px) and (max-width: 1660px) {
            width: 450px;
            height: 450px;
          }
          @media (min-width: 1250px) and (max-width: 1439px) {
            width: 400px;
            height: 400px;
          }
          @media (min-width: 575.98px) and (max-width: 1249px) {
            width: 350px;
            height: 350px;
          }
        }
      }
    }
    .button {
      @include flex;
      width: 70px;
      height: 70px;
      bottom: 60px;
      position: absolute;
      border: 1px solid var(--text);
      background-color: transparent;
      border-radius: 50%;
      &_arrow {
        fill: var(--text);
        width: 32px;
        height: 32px;
      }
      @media (min-width: 0px) and (max-width: 1000px) {
        display: none;
      }
    }
  }
}
