//** https://www.realtimecolors.com/?colors=eceef2-0c121a-9ab7df-194785-3f8bef&fonts=Inter-Inter ***/

:root {
  --text: #edeff3;
  --background: #0b1018;
  --primary: hsl(215, 52%, 74%);
  --primary-rgb: 154, 183, 223;
  --primary-course: hsl(215, 52%, 74%, 20%);
  --secondary: #194885;
  --secondary_v2: hsl(214, 68%, 31%, 30%);
  --accent: #3e8bef;
  --tertiary: hsl(220, 19%, 94%, 5%);
}

[data-theme='green'] {
  --text: #eaecea;
  --background: #131710;
  --primary: hsl(124, 40%, 72%);
  --primary-rgb: 155, 212, 159;
  --primary-course: hsl(124, 40%, 72%, 20%);
  --secondary: hsl(125, 58%, 35%);
  --secondary_v2: hsl(125, 58%, 35%, 30%);
  --accent: #28e237;
  --tertiary: hsl(120, 5%, 92%, 5%);
}

[data-theme='purple'] {
  --text: #e9e7ea;
  --background: #120b13;
  --primary: hsl(279, 53%, 71%);
  --primary-rgb: 192, 140, 220;
  --primary-course: hsl(279, 53%, 71%, 20%);
  --secondary: hsl(279, 76%, 32%);
  --secondary_v2: hsl(279, 76%, 32%, 30%);
  --accent: #ab11fd;
  --tertiary: hsl(280, 7%, 91%, 5%);
}

[data-theme='yellow'] {
  --text: #f1f1ee;
  --background: #17170f;
  --primary: hsl(59, 33%, 75%);
  --primary-rgb: 212, 211, 169;
  --primary-course: hsl(59, 33%, 75%, 20%);
  --secondary: hsl(59, 45%, 35%);
  --secondary_v2: hsl(59, 45%, 35%, 30%);
  --accent: #ccc849;
  --tertiary: hsl(60, 10%, 94%, 5%);
}

[data-theme='blue'] {
  --text: #eef0f0;
  --background: #0f1917;
  --primary: hsl(167, 42%, 71%);
  --primary-rgb: 151, 213, 200;
  --primary-course: hsl(167, 42%, 71%, 20%);
  --secondary: #238b74;
  --secondary_v2: hsl(167, 60%, 34%, 30%);
  --accent: #29e3bc;
  --tertiary: hsl(180, 6%, 94%, 5%);
}
